body {
    background-color: #D9D9D9;
    font-family: "Inria Serif", sans-serif;
}

p{
    color: black;
}

#header-line-1 {
    color: black;
    margin: auto;
    width: 20%;
    border: 0px;
    padding: 0px;
    text-align: center;
    font-size: 12px;
}

#header-line-2{
    color: black;
    margin: auto;
    width: 20%;
    border: 0px;
    padding: 5px;
    text-align: center;
    font-size: 12px;
}
.Content{
    margin-left: 260px;
    margin-right: 260px;
    margin-top: 200px;
    margin-bottom: 400px;
    column-count: 4;
    color: blue;
}
#col1{
    text-align: center;
}
#col2{
    text-align: center;
}
#col3{
    text-align: center;
}
#col4{
    text-align: center;
}
.fa-star{
    color: black;
    margin: auto;
    width: 0%;
    border: green;
    padding: 0px;
    text-align: center;
}


#EndName{
    color: black;
    margin: auto;
    width: 20%;
    border: 0px;
    padding: 0px;
    text-align: center;
    font-size: 12px;
}

#Website{
    color: black;
    margin: auto;
    width: 20%;
    border: 0px;
    padding: 0px;
    text-align: center;
    font-size: 12px;
}
/* unvisited link */
a:link {
    color: black;
}

  /* visited link */
a:visited {
    color: black;
}

  /* mouse over link */
a:hover {
    color: grey;
}

  /* selected link */
a:active {
    color: grey;
}