body {
    background-color: #D9D9D9;
    font-family: "Inria Serif", sans-serif;
    color: black;
    cursor: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.hiclipart.com%2Ffree-transparent-background-png-clipart-qrdbe&psig=AOvVaw0n8-veZ3P5J1Hk-NmCyWyi&ust=1710024577194000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCJDpuo3g5YQDFQAAAAAdAAAAABAE'),auto;
}
#header-line-1 {
    color: black;
    margin: auto;
    width: 20%;
    border: 0px;
    padding: 0px;
    text-align: center;
    font-size: 12px;
}

#header-line-2{
    color: black;
    margin: auto;
    width: 20%;
    border: 0px;
    padding: 5px;
    text-align: center;
    font-size: 12px;
}

.NavBar{
    display: flex;
    flex-direction: row;
    column-gap: 2em;
}

.AboutBox{
    background-color: #1e1e1e;
    height: 100px;
    width: 1200px;
    color: #FFFFFF;
    padding: 75px;
    font-size: 14px;
    margin: 5%;
}

.Card{
    background-color: #1e1e1e;
    height: 400px;
    width: 1200px;
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 15px;
    padding: 75px;
    margin: 5%;
    display: grid;
    grid-template-columns: 100px 500px 500px;
}

.Footer{
    color: black;
    margin: auto;
    width: 20%;
    border: 0px;
    padding: 0px;
    text-align: center;
    font-size: 12px;
}

#card-col1{
}
#card-col2{
}
#card-col3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
}
*/

/* unvisited link */
a:link {
    color: grey;
}

  /* visited link */
a:visited {
    color: darkgray;
}

  /* mouse over link */
a:hover {
    color: white;
}

  /* selected link */
a:active {
    color: white;
}